<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <main class="container text-center">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>SignUp</h1>
                {{error}}
                <form action="/signup/" method="POST" class="card card-body text-center">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="recipient-fname" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" name="first_name" id="recipient-fname" placeholder="Ezequiel" required>
                      </div>
                      <div class="form-group">
                        <label for="recipient-lname" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" name="last_name" id="recipient-lname" placeholder="Videla" required>
                      </div>
                      <div class="form-group">
                        <label for="recipient-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" name="mail" id="recipient-email" placeholder="example@email.com" required>
                      </div>
                      <div class="form-group">
                        <label for="recipient-password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="1234" required>
                      </div>
                      <div class="form-group">
                        <label for="recipient-email" class="col-form-label">Bio:</label>
                        <textarea class="form-control" name="bio" placeholder="eg. A self taught programmer."></textarea>
                      </div>
                      <br>
                    <button class="btn btn-dark">signup</button>
                </form>
                {% endblock %}
            </div>
        </div>
    </main>
    
</body>
</html>