<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1 class="text-center">Signin</h1>

    {{error}}
    <main class="container text-center">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form action="/signin/" method="POST" class="card card-body text-center">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">Username</label>
                            <input type="type" name="username" id="username" class="form-control" placeholder="Write Your Name">
                            <div class="mb-3">
                                <label for="username">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Write Your password">
                            </div>
                        <button>Signin</button>
                    </div>
            </div>
        </div>

    </main>
    {% endblock %}
</body>
</html>