{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <style>
        .img{
            border-radius: 1%;
            float: left;

        }
        h1{
            margin-top: 1%;
            margin-bottom: 3%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        main div div p{
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-style: oblique;
            font-size: 100%;
        }
    </style>
    <main class="container row-cols-auto">
        <div class="text-center">
            <h1><U>Final Fantasy XI</U></h1>
            <img class="img" src="{% static 'images/bannerWOW.jpg' %}" alt="" width="50%" height="50%">
            <div class="card card-body">
                <p>
                    Como en otros videojuegos, los jugadores controlan un avatar dentro de un mundo en una vista de tercera persona (con la opción de jugar en primera persona) explorando el entorno, combatiendo contra varios monstruos y jugadores, completando misiones e interactuando con personajes no jugables (PNJ) u otros jugadores. El completar misiones ayudará a los jugadores a poder subir de nivel y de esta forma, podrán conseguir equipamiento que les ayudará más adelante a combatir a las distintas criaturas que vayan apareciendo en su camino.

                    En común con muchos otros MMORPG, World of Warcraft requiere que el jugador pague una suscripción, sea comprando tarjetas de juego preseleccionado un tiempo de juego, usando una tarjeta de crédito o débito para pagar una cuota regular o comprando una ficha de juego en la subasta por una cantidad de oro que cambia según la oferta y demanda de esta misma
                </p>
            </div> 
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="container my-2">
                <div class="card w-75 my-3" style="border: 2px solid;">
              <div class="card-body" style="word-wrap: break-word;">
                <h1 class="card-title display-3">{{post_data.title}}</h1>
                <span class="text-muted">{{post_data.creation_date}}</span>&nbsp &nbsp
                <span class="text-muted">By <a href="{% static 'profile' post_data.user.first_name %}">{{post_data.user.first_name}} {{post_data.user.last_name}}</a></span>
                <hr>
                <pre style="font-family:tahoma;"><p class="card-text">{{post_data.content}}</p></pre>
                <form action="{% static 'like_post' post_data.title %}">
                  {% if liked %}
                    <button type="submit" class="btn btn-danger" name="post_id">UnLike</button>
                  {% else %}
                    <button type="submit" class="btn btn-info" name="post_id">Like</button>
                  {% endif %}
                  {{post_data.likes.count }}  Likes
                </form>
              </div>
            </div>
            </div>
            {% if request.session.user %}
            <div class="container">
                <div class="container my-2">
                    <h2>Comments</h2>
                    <div class="w-75">
                    <hr>
                    </div>
                    <ul class="list-unstyled">
                      {% if post_comments %}
                      {% for comment in post_comments %}
                        <li class="media">
                        <div class="w-75" style="display:inline-block">
                          <h5 class="mt-0 mb-1">{{comment.name}}</h5>
                      <p>{{comment.comment}} </p>
                        </div>
                    </li>
                      {% endfor %}
            
                      {% else %}
                        <h5>No Comments Yet.</h5>
                      {% endif %}
            
                    </ul>
                    <div class="w-75">
                    <hr>
                    </div>
                    <form action="{% static 'add_comment' post_data.title %}" method="post">
                      {% csrf_token %}
                        <textarea style="width:300px;" name="comment" placeholder="Add Comment..."></textarea>
                        <br><br>
                        <input type="submit" name="" class="btn btn-primary" value="Add Comment">
                    </form>
            
                </div>
            </div>
            {% endif %}
    </main>
    {% endblock %}
</body>
</html>